<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>SatsStack</title>
  <base href="/"/>
  <meta name="color-scheme" content="light dark"/>
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="theme-color" content="#222222"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>assets/logo.svg"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-title" content="SatsStack"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
</head>
<body>
<div id="app"></div>
</body>
</html>
