body {
  min-width: 20rem;
}

ion-grid {
  max-width: 1440px;
  align-self: center;
  color: var(--ion-color-dark);
}

ion-card {
  margin: 0;
  border-radius: .5rem;
}

ion-button {
  --border-radius: .5rem;
  --box-shadow: none;
  text-transform: none;
}

ion-button, ion-item {
  --transition: none !important;
}

ion-button.button-solid, ion-fab-button {
  --background: linear-gradient(35deg, #006ecd, #00ba9e, #5cc140);
}

ion-popover ion-item:last-of-type {
  --border-style: none;
}

.popover-content {
  border-radius: .5rem !important;
}

#grid-main {
  padding-bottom: 4.5rem;
}

.card-top-buttons {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.no-ripple {
  --ripple-color: transparent;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.ripple-parent:hover {
  background-color: var(--ion-items-hover-background-color);
}

.bold {
  font-weight: bold;
}

.color-success, .color-success span {
  color: var(--ion-color-success) !important;
}

.color-danger, .color-danger span {
  color: var(--ion-color-danger) !important;
}

.custom-card-table {
  padding-bottom: .5rem;
}

.custom-card-table ion-grid {
  padding: 0;
}

.custom-card-table ion-row {
  padding: 0;
  border-bottom: 1px solid var(--ion-items-border-color);
}

.custom-card-table ion-row.custom-card-table-header-row {
  font-weight: bold;
}

.custom-card-table ion-row.custom-card-table-body-row {
  min-height: 3rem;
}

.custom-card-table ion-col {
  display: flex;
  padding: .25rem .5rem;
  justify-content: center;
  text-align: center;
}

.custom-card-table ion-col.actions {
  max-width: 5rem;
}

.custom-card-table ion-col span {
  align-self: center;
}

.custom-card-table ion-col span.block {
  display: block;
  width: 100%;
}

.custom-card-table ion-col .block-note {
  display: block;
  font-size: .75rem;
  color: var(--ion-color-medium);
}

.custom-card-table ion-col .note {
  display: inline-block;
  padding-left: .25rem;
  color: var(--ion-color-medium);
}

.custom-card-table ion-col:first-of-type {
  padding-left: 1rem;
}

.custom-card-table ion-col:last-of-type {
  padding-right: 1rem;
}

.custom-card-table ion-buttons ion-button {
  margin: 0;
  overflow: hidden;
  border-radius: .5rem;
}

.custom-segment-buttons {
  margin: 0 -.25rem;
}

.custom-segment-buttons ion-button {
  margin: 0 .25rem;
  --color: var(--ion-color-medium);
  --color-hover: var(--ion-color-dark);
  --background: rgba(var(--ion-color-dark-rgb), .05);
  --background-hover: rgba(var(--ion-color-dark-rgb), .2);
  --ripple-color: rgba(var(--ion-color-dark-rgb), .25);
  --background-hover-opacity: .25;
}

.custom-segment-buttons ion-button.activated {
  --color: var(--ion-color-dark);
  --background: rgba(var(--ion-color-dark-rgb), .15);
}

ion-skeleton-text {
  height: 1.25rem;
  margin: .125rem 0;
  border-radius: .25rem;
}

ion-avatar ion-skeleton-text {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 4rem;
}

.page-large-spinner {
  margin-top: 8rem;
  width: 4rem;
  height: 4rem;
  opacity: .75;
  --color: var(--ion-color-primary);
}

.picker-toolbar-button button {
  color: var(--ion-color-success) !important;
  font-weight: 700;
}

.action-sheet-group-cancel button, .picker-toolbar-cancel button {
  color: var(--ion-color-danger) !important;
  font-weight: 700;
}

.alert-wrapper .alert-title {
  color: var(--ion-color-danger);
}
.alert-wrapper .alert-message {
  color: var(--ion-text-color);
}

.alert-wrapper .alert-button {
  color: var(--ion-color-danger);
}

.alert-wrapper .alert-button-role-cancel {
  color: var(--ion-color-success);
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    display: block;
    width: .375rem;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(var(--ion-color-dark-rgb), .2);
  }

  ion-content {
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    scrollbar-width: none;
    background: var(--ion-background-color);
  }

  #grid-main {
    padding-bottom: 1rem;
  }

  .ion-page {
    padding-left: .375rem;
  }

  .modal-wrapper .ion-page {
    padding-left: 0;
  }

  .modal-wrapper .ion-page > ion-content {
    overflow-y: auto;
  }

  .ion-page > ion-content {
    overflow-y: scroll;
    scrollbar-color: rgba(var(--ion-color-dark-rgb), .2) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
  }
}

@media (min-width: 768px) and (min-height: 600px) {
  .modal-wrapper {
    min-height: 600px !important;
  }
}

@media (min-width: 1440px) {
  .canvas-wrapper {
    min-height: 290px;
  }
}
