<template>
  <ion-page>
    <ion-content class="ion-text-center">
      <ion-spinner class="page-large-spinner"></ion-spinner>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import User from '@/services/User';
import {IonContent, IonPage, IonSpinner} from '@ionic/vue';
import {defineComponent} from 'vue';
import {useRouter} from 'vue-router';

export default defineComponent({
  name: 'Home',
  components: {IonContent, IonPage, IonSpinner},
  methods: {
    ionViewDidEnter() {
      if (this.User.isLoggedIn()) {
        this.router.push({path: '/portfolio'});
      } else {
        this.router.push({path: '/login'});
      }
    },
  },
  setup() {
    const router = useRouter();
    return {User, router};
  },
});
</script>
