<template>
  <ion-page>
    <ion-content class="ion-text-center">
      <ion-spinner class="page-large-spinner"></ion-spinner>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import Portfolio from '@/services/Portfolio';
import User from '@/services/User';
import {IonContent, IonPage, IonSpinner} from '@ionic/vue';
import {defineComponent} from 'vue';
import {useRouter} from 'vue-router';

export default defineComponent({
  name: 'LoginCallback',
  components: {IonContent, IonPage, IonSpinner},
  methods: {
    async ionViewDidEnter() {
      const token = this.router.currentRoute.value.query.token;
      if (token) {
        if (await this.User.logIn(token.toString())) {
          await this.router.push({path: '/portfolio'});
          return;
        }
      }
      await this.User.logOut();
      this.Portfolio.deleteAll();
      await this.router.push({path: '/login'});
    },
  },
  setup() {
    const router = useRouter();
    return {Portfolio, User, router};
  },
});
</script>
