<template>
  <ion-page>
    <ion-header :translucent="true" class="ion-hide-md-up">
      <ion-toolbar>
        <ion-title>SatsStack</ion-title>
        <ion-buttons slot="end">
          <ion-button @click="openPopover($event)">
            <ion-icon :icon="icons.ellipsisVertical" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ContentHeader></ContentHeader>
      <ion-grid id="grid-main">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{ t('LOG_IN') }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button @click="loginViaFacebook()" expand="full" size="large" class="facebook-button">
                  <ion-icon slot="start" :icon="icons.logoFacebook"></ion-icon>
                  Facebook
                </ion-button>
                <ion-button @click="loginViaGoogle()" expand="full" size="large" class="google-button ion-margin-top">
                  <ion-icon slot="start" :icon="icons.logoGoogle"></ion-icon>
                  Google
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import ContentHeader from '@/components/ContentHeader.vue';
import MainPopover from '@/components/MainPopover.vue';
import {t} from '@/services/Translation';
import User from '@/services/User';
import {IonButton, IonButtons, IonCard, IonCardContent, IonCardHeader, IonCardTitle, IonCol, IonContent, IonGrid, IonHeader, IonIcon, IonPage, IonRow, IonTitle, IonToolbar, popoverController} from '@ionic/vue';
import {ellipsisVertical, logoFacebook, logoGoogle} from 'ionicons/icons';
import {defineComponent} from 'vue';
import {useRouter} from 'vue-router';

export default defineComponent({
  name: 'Login',
  components: {
    IonButton,
    IonButtons,
    IonCard,
    IonCardContent,
    IonCardHeader,
    IonCardTitle,
    IonCol,
    IonContent,
    IonGrid,
    IonHeader,
    IonIcon,
    IonPage,
    IonRow,
    IonTitle,
    IonToolbar,
    ContentHeader,
  },
  methods: {
    async openPopover(event: Event) {
      const popover = await popoverController.create({
        component: MainPopover,
        event: event,
        translucent: true,
      });
      return popover.present();
    },
    loginViaFacebook() {
      location.replace('https://users.satsstack.app/facebook/login');
    },
    loginViaGoogle() {
      location.replace('https://users.satsstack.app/google/login');
    },
    ionViewDidEnter() {
      if (this.User.isLoggedIn()) {
        this.router.push({path: '/portfolio'});
      }
    },
  },
  setup() {
    const router = useRouter();
    return {
      icons: {ellipsisVertical, logoFacebook, logoGoogle},
      User, t, router,
    };
  },
});
</script>

<style scoped>
ion-col {
  margin: 10% auto 0;
  max-width: 25rem !important;
}
.facebook-button {
  --background: #3b5999;
}
.google-button {
  --background: #dd4b39;
}
</style>
