<template>
  <ion-page>
    <ion-content class="ion-text-center">
      <ion-spinner class="page-large-spinner"></ion-spinner>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import Portfolio from '@/services/Portfolio';
import User from '@/services/User';
import {IonContent, IonPage, IonSpinner} from '@ionic/vue';
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'Logout',
  components: {IonContent, IonPage, IonSpinner},
  methods: {
    async ionViewDidEnter() {
      await this.User.logOut();
      this.Portfolio.deleteAll();
      location.replace('https://users.satsstack.app/logout');
    },
  },
  setup() {
    return {Portfolio, User};
  },
});
</script>
