<template>
  <ion-page>
    <ion-header :translucent="true" class="ion-hide-md-up">
      <ion-toolbar>
        <ion-title>SatsStack</ion-title>
        <ion-buttons slot="end">
          <ion-button @click="openPopover($event)">
            <ion-icon :icon="icons.ellipsisVertical" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ContentHeader></ContentHeader>
      <ion-grid id="grid-main">
        <ion-row>
          <ion-col size="12" size-lg="4">
            <PortfolioCard></PortfolioCard>
          </ion-col>
          <ion-col size="12" size-lg="8">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{ t('YOUR_ASSETS') }}</ion-card-title>
              </ion-card-header>
              <ion-text class="card-top-buttons ion-hide-md-down">
                <ion-button @click="openExport()" class="ion-margin-end">
                  <ion-icon :icon="icons.downloadOutline" slot="start"></ion-icon>
                  {{ t('EXPORT') }}
                </ion-button>
                <ion-button @click="openTransactionModal()">
                  <ion-icon :icon="icons.addOutline" slot="start"></ion-icon>
                  {{ t('ADD_TRANSACTION') }}
                </ion-button>
              </ion-text>
              <ion-card-content class="ion-no-padding ion-padding-top custom-card-table">
                <ion-grid>
                  <ion-row class="custom-card-table-header-row">
                    <ion-col class="ion-justify-content-start">{{ t('NAME') }}</ion-col>
                    <ion-col class="ion-hide-sm-down">{{ t('PRICE') }}</ion-col>
                    <ion-col>{{ t('HOLDINGS') }}</ion-col>
                    <ion-col class="ion-hide-md-down">{{ t('PROFIT_LOSS') }}</ion-col>
                    <ion-col class="actions">{{ t('ACTIONS') }}</ion-col>
                  </ion-row>
                  <ion-row v-for="(item, i) in Portfolio.assets.value" :key="i" class="ion-activatable ripple-parent custom-card-table-body-row">
                    <ion-ripple-effect></ion-ripple-effect>
                    <ion-col @click="openAssetDetailPage($event, item.code)" class="ion-justify-content-start ion-text-start">
                      <ion-avatar class="ion-hide-md-down logo">
                        <img v-if="item.logo" :src="item.logo" :alt="item.code + ' logo'">
                        <ion-skeleton-text animated v-if="!item.logo" class="logo"></ion-skeleton-text>
                      </ion-avatar>
                      <span v-if="item.name">{{ item.name }} <span class="ion-hide-sm-down note">{{ item.code }}</span></span>
                      <span v-else class="block"><ion-skeleton-text animated></ion-skeleton-text></span>
                    </ion-col>
                    <ion-col @click="openAssetDetailPage($event, item.code)" class="ion-hide-sm-down">
                      <span v-if="item.price !== undefined">{{ Base.printNumber(item.price, 2) }}</span>
                      <span v-else class="block"><ion-skeleton-text animated></ion-skeleton-text></span>
                    </ion-col>
                    <ion-col @click="openAssetDetailPage($event, item.code)">
                      <span v-if="item.code && item.holdings !== undefined && !PrivateMode.isEnabled()">
                        {{ Base.printNumber(item.balance, 2) }}
                        <span class="block-note">{{ Base.printNumber(item.holdings, 8, false, item.code.toString()) }}</span>
                      </span>
                      <span v-else class="block"><ion-skeleton-text :animated="!PrivateMode.isEnabled()"></ion-skeleton-text></span>
                    </ion-col>
                    <ion-col @click="openAssetDetailPage($event, item.code)" class="ion-hide-md-down">
                      <span v-if="item.profit !== undefined && !PrivateMode.isEnabled()">
                        {{ Base.printNumber(item.profit, 2, true) }}
                        <span class="block-note bold" :class="Base.printSignColor(item.profitPct)">{{ Base.printPct(item.profitPct, 2, true) }}</span>
                      </span>
                      <span v-else class="block"><ion-skeleton-text :animated="!PrivateMode.isEnabled()"></ion-skeleton-text></span>
                    </ion-col>
                    <ion-col class="actions">
                      <ion-buttons v-if="item.name">
                        <ion-button @click="openTransactionModal(item.code)" fill="clear">
                          <ion-icon :icon="icons.addOutline"></ion-icon>
                        </ion-button>
                        <ion-button @click="openAssetRemoveAlert(item.code)" fill="clear">
                          <ion-icon :icon="icons.trashOutline"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                      <span v-if="!item.name" class="block"><ion-skeleton-text animated></ion-skeleton-text></span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-fab class="ion-hide-md-up" @click="openTransactionModal()" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon :icon="icons.addOutline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-page>
</template>

<script lang="ts">
import ContentHeader from '@/components/ContentHeader.vue';
import MainPopover from '@/components/MainPopover.vue';
import PortfolioCard from '@/components/PortfolioCard.vue';
import TransactionModal from '@/components/TransactionModal.vue';
import Asset from '@/services/Asset';
import Base from '@/services/Base';
import Chart from '@/services/Chart';
import Currency from '@/services/Currency';
import Portfolio from '@/services/Portfolio';
import PrivateMode from '@/services/PrivateMode';
import RestApi from '@/services/RestApi';
import {t} from '@/services/Translation';
import User from '@/services/User';
import {
  alertController,
  IonAvatar,
  IonButton,
  IonButtons,
  IonCard,
  IonCardContent,
  IonCardHeader,
  IonCardTitle,
  IonCol,
  IonContent,
  IonFab,
  IonFabButton,
  IonGrid,
  IonHeader,
  IonIcon,
  IonPage,
  IonRippleEffect,
  IonRow,
  IonSkeletonText,
  IonText,
  IonTitle,
  IonToolbar,
  modalController,
  popoverController,
} from '@ionic/vue';
import {addOutline, downloadOutline, ellipsisVertical, trashOutline} from 'ionicons/icons';
import {defineComponent} from 'vue';
import {useRouter} from 'vue-router';

export default defineComponent({
  name: 'Portfolio',
  components: {
    IonButton,
    IonButtons,
    IonCard,
    IonCardContent,
    IonCardHeader,
    IonCardTitle,
    IonCol,
    IonContent,
    IonFab,
    IonFabButton,
    IonGrid,
    IonHeader,
    IonIcon,
    IonPage,
    IonRippleEffect,
    IonRow,
    IonText,
    IonTitle,
    IonToolbar,
    IonAvatar,
    IonSkeletonText,
    PortfolioCard,
    ContentHeader,
  },
  methods: {
    async openPopover(event: Event) {
      const popover = await popoverController.create({
        component: MainPopover,
        event: event,
        translucent: true,
      });
      return popover.present();
    },
    openAssetDetailPage(event: Event, assetCode: any) {
      this.router.push({path: '/portfolio/' + assetCode});
    },
    async openTransactionModal(assetCode?: any) {
      const assetIndex = assetCode ? this.Asset.getIndexByCode(assetCode) : undefined;
      this.Asset.setByIndex(assetIndex !== undefined ? assetIndex : 1);
      const modal = await modalController.create({
        component: TransactionModal,
        componentProps: {
          isMainPage: true,
        },
        backdropDismiss: false,
      });
      return modal.present();
    },
    async openAssetRemoveAlert(assetCode: any) {
      const assetIndex = this.Asset.getIndexByCode(assetCode);
      const asset = this.Asset.get(assetIndex);
      if (asset) {
        const alert = await alertController.create({
          header: t('DELETE_ASSET'), message: t('DELETE_ASSET_MSG'), buttons: [
            {
              text: t('NO'),
              role: 'cancel',
            },
            {
              text: t('YES'),
              handler: async () => {
                await this.RestApi.deleteAsset(asset.backendId);
                this.Portfolio.deleteAssets();
                await this.Portfolio.refreshAssets();
                await this.Chart.refreshAll();
              },
            },
          ],
        });
        await alert.present();
      }
    },
    openExport() {
      const currencyCode = Currency.getSelected().code;
      const baseUrl = 'https://analysis.satsstack.app/rest/api/statistics/export/' + this.User.get().id + '?token=' + this.User.get().token;
      if (currencyCode === 'USD') {
        window.open(baseUrl, '_blank');
      } else {
        window.open(baseUrl + '&currency=' + this.Currency.getSelected().code, '_blank');
      }
    },
    ionViewWillEnter() {
      this.Chart.deletePortfolioBalanceChart();
    },
    async ionViewDidEnter() {
      if (!this.User.isLoggedIn()) {
        return this.router.push({path: '/login'});
      }
      await this.Portfolio.refreshAssets();
      await this.Chart.enablePortfolioBalanceChart();
    },
    ionViewDidLeave() {
      this.Portfolio.deleteAssets();
    },
  },
  setup() {
    const router = useRouter();
    return {
      icons: {addOutline, downloadOutline, ellipsisVertical, trashOutline},
      Asset, Base, Chart, Currency, Portfolio, PrivateMode, RestApi, User, t, router,
    };
  },
});
</script>

<style scoped>
ion-card {
  height: 100%;
}
.logo {
  height: 2rem;
  width: 2rem;
  align-self: center;
  margin: 0 .5rem 0 0;
  border-radius: 4rem;
}
</style>
