<template>
  <ion-page>
    <ion-header :translucent="true" class="ion-hide-md-up">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ t('ASSET') }}</ion-title>
        <ion-buttons slot="end">
          <ion-button @click="openPopover($event)">
            <ion-icon :icon="icons.ellipsisVertical" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ContentHeader></ContentHeader>
      <ion-grid id="grid-main">
        <ion-row>
          <ion-col size="12" size-lg="4">
            <PortfolioItemCard></PortfolioItemCard>
          </ion-col>
          <ion-col size="12" size-lg="8">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{ t('TRANSACTIONS') }}</ion-card-title>
              </ion-card-header>
              <ion-text class="card-top-buttons ion-hide-md-down">
                <ion-button @click="openTransactionModal()">
                  <ion-icon :icon="icons.addOutline" slot="start"></ion-icon>
                  {{ t('ADD_TRANSACTION') }}
                </ion-button>
              </ion-text>
              <ion-card-content class="ion-no-padding ion-padding-top custom-card-table">
                <ion-grid>
                  <ion-row class="custom-card-table-header-row">
                    <ion-col class="ion-justify-content-start">{{ t('TYPE_DATE') }}</ion-col>
                    <ion-col class="ion-hide-sm-down">{{ t('PRICE') }}</ion-col>
                    <ion-col>{{ t('AMOUNT') }}</ion-col>
                    <ion-col class="ion-hide-md-down">{{ t('FEES') }}</ion-col>
                    <ion-col class="actions">{{ t('ACTIONS') }}</ion-col>
                  </ion-row>
                  <ion-row v-for="(item, i) in Portfolio.transactions.value" :key="i" class="custom-card-table-body-row">
                    <ion-col class="ion-justify-content-start ion-text-start">
                      <ion-avatar class="ion-hide-md-down logo">
                        <ion-icon v-if="item.type === 0" class="logo color-success" :icon="icons.arrowDownCircleOutline"></ion-icon>
                        <ion-icon v-if="item.type === 1" class="logo color-danger" :icon="icons.arrowUpCircleOutline"></ion-icon>
                        <ion-skeleton-text animated v-if="item.type === undefined" class="logo"></ion-skeleton-text>
                      </ion-avatar>
                      <span v-if="item.type === 0">{{ t('BUY') }} <span class="block-note">{{ Base.printDatetime(item.datetime) }}</span></span>
                      <span v-else-if="item.type === 1">{{ t('SELL') }} <span class="block-note">{{ Base.printDatetime(item.datetime) }}</span></span>
                      <span v-else class="block"><ion-skeleton-text animated></ion-skeleton-text></span>
                    </ion-col>
                    <ion-col class="ion-hide-sm-down">
                      <span v-if="item.price !== undefined">{{ Base.printNumber(item.price, 2) }}</span>
                      <span v-else class="block"><ion-skeleton-text animated></ion-skeleton-text></span>
                    </ion-col>
                    <ion-col>
                       <span v-if="item.amount !== undefined && !PrivateMode.isEnabled()">
                        {{ Base.printNumber(item.type === 1 ? 0 - item.amountCur : item.amountCur, 2, true) }}
                        <span class="block-note bold" :class="Base.printSignColor(item.type === 1 ? 0 - item.amount : item.amount)">
                          {{ Base.printNumber(item.type === 1 ? 0 - item.amount : item.amount, 8, true, Asset.getSelected().code) }}
                        </span>
                      </span>
                      <span v-else class="block"><ion-skeleton-text :animated="!PrivateMode.isEnabled()"></ion-skeleton-text></span>
                    </ion-col>
                    <ion-col class="ion-hide-md-down">
                      <span v-if="item.fee !== undefined">
                        {{ Base.printNumber(item.feeCur, 2) }}
                        <span class="block-note">{{ Base.printNumber(item.fee, 8, false, Asset.getSelected().code) }}</span>
                      </span>
                      <span v-else class="block"><ion-skeleton-text animated></ion-skeleton-text></span>
                    </ion-col>
                    <ion-col class="actions">
                      <ion-buttons v-if="item.type !== undefined">
                        <ion-button @click="openTransactionModal(item.id)" fill="clear">
                          <ion-icon :icon="icons.pencilOutline"></ion-icon>
                        </ion-button>
                        <ion-button @click="openTransactionRemoveAlert(item.id)" fill="clear">
                          <ion-icon :icon="icons.trashOutline"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                      <span v-if="item.type === undefined" class="block"><ion-skeleton-text animated></ion-skeleton-text></span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-fab class="ion-hide-md-up" @click="openTransactionModal()" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon :icon="icons.addOutline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-page>
</template>

<script lang="ts">
import ContentHeader from '@/components/ContentHeader.vue';
import MainPopover from '@/components/MainPopover.vue';
import PortfolioItemCard from '@/components/PortfolioItemCard.vue';
import TransactionModal from '@/components/TransactionModal.vue';
import Asset from '@/services/Asset';
import Base from '@/services/Base';
import Chart from '@/services/Chart';
import Portfolio from '@/services/Portfolio';
import PrivateMode from '@/services/PrivateMode';
import RestApi from '@/services/RestApi';
import {t} from '@/services/Translation';
import User from '@/services/User';
import {
  alertController,
  IonAvatar,
  IonBackButton,
  IonButton,
  IonButtons,
  IonCard,
  IonCardContent,
  IonCardHeader,
  IonCardTitle,
  IonCol,
  IonContent,
  IonFab,
  IonFabButton,
  IonGrid,
  IonHeader,
  IonIcon,
  IonPage,
  IonRow,
  IonSkeletonText,
  IonText,
  IonTitle,
  IonToolbar,
  modalController,
  popoverController,
} from '@ionic/vue';
import {addOutline, arrowDownCircleOutline, arrowUpCircleOutline, ellipsisVertical, pencilOutline, trashOutline} from 'ionicons/icons';
import {defineComponent} from 'vue';
import {useRoute, useRouter} from 'vue-router';

export default defineComponent({
  name: 'PortfolioItem',
  components: {
    IonButton,
    IonButtons,
    IonCard,
    IonCardContent,
    IonCardHeader,
    IonCardTitle,
    IonCol,
    IonContent,
    IonFab,
    IonFabButton,
    IonGrid,
    IonHeader,
    IonIcon,
    IonPage,
    IonRow,
    IonText,
    IonTitle,
    IonToolbar,
    IonBackButton,
    IonSkeletonText,
    IonAvatar,
    PortfolioItemCard,
    ContentHeader,
  },
  methods: {
    async openPopover(event: Event) {
      const popover = await popoverController.create({
        component: MainPopover,
        event: event,
        translucent: true,
      });
      return popover.present();
    },
    async openTransactionModal(id?: any) {
      this.Portfolio.selectTransaction(id);
      const modal = await modalController.create({
        component: TransactionModal,
        componentProps: {
          isMainPage: false,
        },
        backdropDismiss: false,
      });
      return modal.present();
    },
    async openTransactionRemoveAlert(id: any) {
      const transaction = id ? this.Portfolio.getTransactionById(id) : undefined;
      if (transaction && transaction.id !== undefined) {
        const alert = await alertController.create({
          header: t('DELETE_TRANSACTION'), message: t('DELETE_TRANSACTION_MSG'), buttons: [
            {
              text: t('NO'),
              role: 'cancel',
            },
            {
              text: t('YES'),
              handler: async () => {
                if (transaction.id !== undefined) {
                  await this.RestApi.deleteTransaction(transaction.id);
                  this.Portfolio.deleteTransactions();
                  await this.Portfolio.refreshTransactions();
                  await this.Chart.refreshAll();
                }
              },
            },
          ],
        });
        await alert.present();
      }
    },
    ionViewWillEnter() {
      this.Chart.deletePortfolioItemBalanceChart();
    },
    async ionViewDidEnter() {
      if (!this.User.isLoggedIn()) {
        return this.router.push({path: '/login'});
      }
      const selectedAssetCode = this.route.params.code;
      if (!selectedAssetCode) {
        return this.router.push({path: '/portfolio'});
      }
      const selectedAssetIndex = this.Asset.getIndexByCode(selectedAssetCode.toString());
      this.Asset.setByIndex(selectedAssetIndex);
      await this.Portfolio.refreshTransactions();
      await this.Chart.enablePortfolioItemBalanceChart();
    },
    ionViewDidLeave() {
      this.Asset.setByIndex(1);
      this.Portfolio.deleteTransactions();
    },
  },
  setup() {
    const route = useRoute();
    const router = useRouter();
    return {
      icons: {addOutline, arrowDownCircleOutline, arrowUpCircleOutline, ellipsisVertical, pencilOutline, trashOutline},
      Asset, Base, Chart, Portfolio, PrivateMode, RestApi, User, t, route, router,
    };
  },
});
</script>

<style scoped>
.logo {
  height: 1.5rem;
  width: 1.5rem;
  align-self: center;
  margin: 0 .5rem 0 0;
  border-radius: 4rem;
}
</style>
