<template>
  <ion-grid class="ion-hide-md-down">
    <ion-row>
      <ion-col size="6">
        <ion-button button @click="openPortfolioPage()" class="no-ripple ion-no-padding" fill="none" size="large">
          <ion-img src="/assets/logo-full-line.svg"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding" size="6">
        <ion-buttons class="ion-float-end">
          <ion-button @click="openPopover($event, 0)">
            {{ Language.getSelected().label }}
            <ion-icon :icon="icons.caretDownOutline" slot="end" color="medium"></ion-icon>
          </ion-button>
          <ion-button v-if="User.isLoggedIn()" @click="openPopover($event, 1)">
            {{ Currency.getSelected().code }}
            <ion-icon :icon="icons.caretDownOutline" slot="end" color="medium"></ion-icon>
          </ion-button>
          <ion-button v-if="User.isLoggedIn()" @click="PrivateMode.toggle()">
            <ion-icon :icon="PrivateMode.isEnabled() ? icons.eyeOffOutline : icons.eyeOutline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button @click="DarkMode.toggle()">
            <ion-icon :icon="icons.moonOutline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button v-if="User.isLoggedIn()" @click="openPopover($event, 2)" class="ion-no-margin ion-no-padding avatar-button">
            <ion-avatar class="ion-float-end">
              <img v-if="User.get().profileImagePath" alt="Profile picture" :src="User.get().profileImagePath">
              <ion-skeleton-text v-if="!User.get().profileImagePath" animated></ion-skeleton-text>
            </ion-avatar>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</template>

<script lang="ts">
import CurrencyPopover from '@/components/CurrencyPopover.vue';
import LanguagePopover from '@/components/LanguagePopover.vue';
import ProfilePopover from '@/components/ProfilePopover.vue';
import Currency from '@/services/Currency';
import DarkMode from '@/services/DarkMode';
import Language from '@/services/Language';
import PrivateMode from '@/services/PrivateMode';
import User from '@/services/User';
import {IonAvatar, IonButton, IonButtons, IonCol, IonGrid, IonIcon, IonImg, IonRow, IonSkeletonText, popoverController} from '@ionic/vue';
import {caretDownOutline, eyeOffOutline, eyeOutline, moonOutline} from 'ionicons/icons';
import {defineComponent} from 'vue';
import {useRouter} from 'vue-router';

export default defineComponent({
  name: 'ContentHeader',
  components: {IonAvatar, IonButton, IonButtons, IonCol, IonGrid, IonIcon, IonImg, IonRow, IonSkeletonText},
  methods: {
    openPortfolioPage() {
      this.router.push({path: (window.location.pathname === '/login' ? '/login' : '/portfolio')});
    },
    async openPopover(event: Event, index: number) {
      const popover = await popoverController.create({
        component: index === 0 ? LanguagePopover : (index === 1 ? CurrencyPopover : ProfilePopover),
        event: event,
        translucent: true,
      });
      return popover.present();
    },
  },
  setup() {
    const router = useRouter();
    return {
      icons: {caretDownOutline, eyeOffOutline, eyeOutline, moonOutline},
      Currency, DarkMode, Language, PrivateMode, User, router,
    };
  },
});
</script>

<style scoped>
ion-grid {
  margin-bottom: -.75rem;
}

ion-img {
  height: 4rem;
  width: 21rem;
  display: inline-block;
}

.avatar-button {
  margin: 0 0 0 .5rem;
  padding: 0;
  --padding-start: 0;
  --padding-end: 0;
  width: 3rem;
  height: 3rem;
}

ion-avatar {
  width: 100%;
  height: 100%;
}

ion-buttons.ion-float-end {
  float: right !important;
  padding-right: .25rem;
}
</style>
