<template>
  <ion-content>
    <ion-list lines="full">
      <ion-item v-for="(item, i) in Currency.getAll()" :key="i" button @click="selectItem(i)">
        <ion-label>{{ t(item.label) }}</ion-label>
        <ion-note slot="end">{{ item.code }}</ion-note>
      </ion-item>
    </ion-list>
  </ion-content>
</template>

<script lang="ts">
import Currency from '@/services/Currency';
import {t} from '@/services/Translation';
import {IonContent, IonItem, IonLabel, IonList, IonNote, popoverController} from '@ionic/vue';
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'CurrencyPopover',
  components: {IonContent, IonItem, IonLabel, IonList, IonNote},
  methods: {
    selectItem(key: number) {
      Currency.setByKey(key);
      popoverController.dismiss();
    },
  },
  setup() {
    return {Currency, t};
  },
});
</script>
