<template>
  <ion-content>
    <ion-list lines="full">
      <ion-item v-for="(item, i) in Language.getAll()" :key="i" button @click="selectItem(i)">
        <ion-label>{{ item.label }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</template>

<script lang="ts">
import Language from '@/services/Language';
import {IonContent, IonItem, IonLabel, IonList, popoverController} from '@ionic/vue';
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'LanguagePopover',
  components: {IonContent, IonItem, IonLabel, IonList},
  methods: {
    selectItem(key: number) {
      Language.setByKey(key);
      popoverController.dismiss();
    },
  },
  setup() {
    return {Language};
  },
});
</script>
