<template>
  <ion-content>
    <ion-list lines="full">
      <ion-item button @click="darkModeToggle()">
        <ion-icon :icon="darkModeIsEnabled ? icons.sunnyOutline : icons.moonOutline" slot="start"></ion-icon>
        <ion-label>{{ darkModeIsEnabled ? t('LIGHT_MODE') : t('DARK_MODE') }}</ion-label>
      </ion-item>
      <ion-item v-if="User.isLoggedIn()" button @click="privateModeToggle()">
        <ion-icon :icon="privateModeIsEnabled ? icons.eyeOutline : icons.eyeOffOutline" slot="start"></ion-icon>
        <ion-label>{{ privateModeIsEnabled ? t('SHOW_SENSITIVE_DATA') : t('HIDE_SENSITIVE_DATA') }}</ion-label>
      </ion-item>
      <ion-item v-if="User.isLoggedIn()" @click="closePopover()">
        <ion-icon :icon="icons.cashOutline" slot="start"></ion-icon>
        <ion-label>{{ t('CURRENCY') }}</ion-label>
        <ion-select @ionChange="selectCurrencyItem($event.target.value)" interface="action-sheet" :cancelText="t('CANCEL')" :selectedText="currencySelectedCode">
          <ion-select-option v-for="(item, i) in Currency.getAll()" :key="i" :value="i">{{ t(item.label) }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item @click="closePopover()">
        <ion-icon :icon="icons.languageOutline" slot="start"></ion-icon>
        <ion-label>{{ t('LANGUAGE') }}</ion-label>
        <ion-select @ionChange="selectLanguageItem($event.target.value)" interface="action-sheet" :cancelText="t('CANCEL')" :selectedText="languageSelectedCode">
          <ion-select-option v-for="(item, i) in Language.getAll()" :key="i" :value="i">{{ item.label }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item v-if="User.isLoggedIn()" button @click="logOut()">
        <ion-icon :icon="icons.logOutOutline" slot="start"></ion-icon>
        <ion-label>{{ t('LOG_OUT') }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</template>

<script lang="ts">
import Currency from '@/services/Currency';
import DarkMode from '@/services/DarkMode';
import Language from '@/services/Language';
import PrivateMode from '@/services/PrivateMode';
import {t} from '@/services/Translation';
import User from '@/services/User';
import {IonContent, IonIcon, IonItem, IonLabel, IonList, IonSelect, IonSelectOption, popoverController} from '@ionic/vue';
import {cashOutline, eyeOffOutline, eyeOutline, languageOutline, logOutOutline, moonOutline, sunnyOutline} from 'ionicons/icons';
import {defineComponent} from 'vue';
import {useRouter} from 'vue-router';

export default defineComponent({
  name: 'MainPopover',
  components: {IonContent, IonIcon, IonItem, IonLabel, IonList, IonSelect, IonSelectOption},
  methods: {
    darkModeToggle() {
      this.DarkMode.toggle();
      popoverController.dismiss();
    },
    privateModeToggle() {
      this.PrivateMode.toggle();
      popoverController.dismiss();
    },
    closePopover() {
      popoverController.dismiss();
    },
    selectCurrencyItem(key: number) {
      Currency.setByKey(key);
    },
    selectLanguageItem(key: number) {
      Language.setByKey(key);
    },
    logOut() {
      popoverController.dismiss();
      this.router.push({path: '/logout'});
    },
  },
  setup() {
    const router = useRouter();
    const darkModeIsEnabled = DarkMode.isEnabled();
    const privateModeIsEnabled = PrivateMode.isEnabled();
    const currencySelectedCode = Currency.getSelected().code;
    const languageSelectedCode = Language.getSelected().code;
    return {
      icons: {cashOutline, eyeOffOutline, eyeOutline, languageOutline, logOutOutline, moonOutline, sunnyOutline},
      Currency, DarkMode, Language, PrivateMode, User, t, router, darkModeIsEnabled, privateModeIsEnabled, currencySelectedCode, languageSelectedCode,
    };
  },
});
</script>
