<template>
  <ion-card id="content-card">
    <ion-card-header>
      <ion-card-title>{{ t('YOUR_PORTFOLIO') }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-padding-top ion-padding-bottom ion-text-start">
          <ion-col>
            <ion-text>{{ t('CURRENT_BALANCE') }}</ion-text>
            <ion-text class="total-value-large bold">
              <span v-if="Portfolio.totalBalance.value !== undefined && !PrivateMode.isEnabled()">{{ Base.printNumber(Portfolio.totalBalance.value, 2) }}</span>
              <span v-else><ion-skeleton-text :animated="!PrivateMode.isEnabled()"></ion-skeleton-text></span>
            </ion-text>
            <ion-text class="ion-padding-top">{{ t('TOTAL_BUY') }}</ion-text>
            <ion-text class="total-value bold">
              <span v-if="Portfolio.totalInvested.value !== undefined">{{ Base.printNumber(Portfolio.totalInvested.value, 2) }}</span>
              <span v-else><ion-skeleton-text animated></ion-skeleton-text></span>
            </ion-text>
          </ion-col>
          <ion-col class="ion-text-end ion-padding-start">
            <ion-text>{{ t('PROFIT_LOSS') }}</ion-text>
            <ion-text class="total-value bold">
              <span v-if="Portfolio.totalProfit.value !== undefined && !PrivateMode.isEnabled()">{{ Base.printNumber(Portfolio.totalProfit.value, 2, true) }}</span>
              <span v-else><ion-skeleton-text :animated="!PrivateMode.isEnabled()"></ion-skeleton-text></span>
            </ion-text>
            <ion-text class="bold" :class="Base.printSignColor(Portfolio.totalProfitPct.value)">
              <span v-if="Portfolio.totalProfitPct.value !== undefined">{{ Base.printPct(Portfolio.totalProfitPct.value, 2, true) }}</span>
              <span v-else><ion-skeleton-text animated></ion-skeleton-text></span>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-top ion-justify-content-center custom-segment-buttons">
          <ion-col>
            <ion-button @click="changeChart(0)" :class="Chart.getEnabledChartIndex() === 0 ? 'activated' : ''" expand="block">
              <ion-icon :icon="icons.barChartOutline" slot="start"></ion-icon>
              {{ t('BALANCE') }}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button @click="changeChart(1)" :class="Chart.getEnabledChartIndex() === 1 ? 'activated' : ''" expand="block">
              <ion-icon :icon="icons.pieChartOutline" slot="start"></ion-icon>
              {{ t('HOLDINGS') }}
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-top ion-justify-content-center">
          <ion-col class="canvas-wrapper">
            <canvas id="portfolio-canvas"></canvas>
            <ion-skeleton-text :animated="!PrivateMode.isEnabled()" v-if=" Chart.getEnabledChartIndex() === 0 && Chart.portfolioBalanceChartData.value.length === 0"></ion-skeleton-text>
            <ion-skeleton-text :animated="!PrivateMode.isEnabled()" v-if=" Chart.getEnabledChartIndex() === 1 && Chart.portfolioHoldingsChartData.value.length === 0"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</template>

<script lang="ts">
import Base from '@/services/Base';
import Chart from '@/services/Chart';
import Portfolio from '@/services/Portfolio';
import PrivateMode from '@/services/PrivateMode';
import {t} from '@/services/Translation';
import {IonButton, IonCard, IonCardContent, IonCardHeader, IonCardTitle, IonCol, IonGrid, IonIcon, IonRow, IonSkeletonText, IonText} from '@ionic/vue';
import {barChartOutline, pieChartOutline} from 'ionicons/icons';
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'PortfolioCard',
  components: {IonButton, IonCard, IonCardContent, IonCardHeader, IonCardTitle, IonCol, IonGrid, IonIcon, IonRow, IonSkeletonText, IonText},
  methods: {
    changeChart(index: number) {
      if (index === 0) {
        this.Chart.enablePortfolioBalanceChart();
      }
      if (index === 1) {
        this.Chart.enablePortfolioHoldingsChart();
      }
    },
  },
  setup() {
    return {
      icons: {barChartOutline, pieChartOutline},
      Base, Chart, Portfolio, PrivateMode, t,
    };
  },
});
</script>

<style scoped>
ion-card {
  max-width: 32rem;
  margin: 0 auto !important;
}

ion-text {
  display: block;
}

ion-skeleton-text {
  height: 1.0625rem;
  margin: .125rem 0;
  border-radius: .25rem;
}

.canvas-wrapper {
  position: relative;
}

.canvas-wrapper ion-skeleton-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.total-value {
  font-size: 1.25rem;
}

.total-value ion-skeleton-text {
  height: 1.625rem;
}

.total-value-large {
  font-size: 1.5rem;
}

.total-value-large ion-skeleton-text {
  height: 2rem;
}
</style>
