<template>
  <ion-card id="content-card">
    <ion-card-header>
      <ion-buttons>
        <ion-button @click="goBack()" fill="clear">
          <ion-icon :icon="icons.arrowBackOutline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-card-title>{{ t('ASSET') }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-padding-top ion-padding-bottom ion-text-start">
          <ion-col>
            <ion-text>{{ t('CURRENT_BALANCE') }}</ion-text>
            <ion-text class="total-value-large bold">
              <span v-if="Portfolio.itemTotalBalance.value !== undefined && !PrivateMode.isEnabled()">{{ Base.printNumber(Portfolio.itemTotalBalance.value, 2) }}</span>
              <span v-else><ion-skeleton-text :animated="!PrivateMode.isEnabled()"></ion-skeleton-text></span>
            </ion-text>
            <ion-text class="ion-padding-top">{{ t('TOTAL_BUY') }}</ion-text>
            <ion-text class="total-value bold">
              <span v-if="Portfolio.itemTotalInvested.value !== undefined">{{ Base.printNumber(Portfolio.itemTotalInvested.value, 2) }}</span>
              <span v-else><ion-skeleton-text animated></ion-skeleton-text></span>
            </ion-text>
          </ion-col>
          <ion-col class="ion-text-end ion-padding-start">
            <ion-text>{{ t('PROFIT_LOSS') }}</ion-text>
            <ion-text class="total-value bold">
              <span v-if="Portfolio.itemTotalProfit.value !== undefined && !PrivateMode.isEnabled()">{{ Base.printNumber(Portfolio.itemTotalProfit.value, 2, true) }}</span>
              <span v-else><ion-skeleton-text :animated="!PrivateMode.isEnabled()"></ion-skeleton-text></span>
            </ion-text>
            <ion-text class="bold" :class="Base.printSignColor(Portfolio.itemTotalProfitPct.value)">
              <span v-if="Portfolio.itemTotalProfitPct.value !== undefined">{{ Base.printPct(Portfolio.itemTotalProfitPct.value, 2, true) }}</span>
              <span v-else><ion-skeleton-text animated></ion-skeleton-text></span>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-top ion-justify-content-center">
          <ion-col class="canvas-wrapper">
            <canvas id="portfolio-item-canvas"></canvas>
            <ion-skeleton-text :animated="!PrivateMode.isEnabled()" v-if="!Chart.portfolioAssetBalanceChartData.value.length"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</template>

<script lang="ts">
import Base from '@/services/Base';
import Chart from '@/services/Chart';
import Portfolio from '@/services/Portfolio';
import PrivateMode from '@/services/PrivateMode';
import {t} from '@/services/Translation';
import {IonButton, IonButtons, IonCard, IonCardContent, IonCardHeader, IonCardTitle, IonCol, IonGrid, IonIcon, IonRow, IonSkeletonText, IonText} from '@ionic/vue';
import {arrowBackOutline} from 'ionicons/icons';
import {defineComponent} from 'vue';
import {useRouter} from 'vue-router';

export default defineComponent({
  name: 'PortfolioItemCard',
  components: {IonButton, IonCard, IonCardContent, IonCardHeader, IonCardTitle, IonCol, IonGrid, IonIcon, IonRow, IonText, IonButtons, IonSkeletonText},
  methods: {
    goBack() {
      this.router.push({path: '/portfolio'});
    },
  },
  setup() {
    const router = useRouter();
    return {
      icons: {arrowBackOutline},
      Base, Chart, Portfolio, PrivateMode, t, router,
    };
  },
});
</script>

<style scoped>
ion-card {
  max-width: 32rem;
  margin: 0 auto !important;
}

ion-card-header {
  margin-bottom: -1rem;
}

ion-buttons, ion-card-title {
  display: inline-block;
}

ion-button {
  margin: -1rem .5rem 0 -.5rem !important;
}

ion-text {
  display: block;
}

.total-value {
  font-size: 1.25rem;
}

.total-value ion-skeleton-text {
  height: 1.625rem;
}

.total-value-large {
  font-size: 1.5rem;
}

.total-value-large ion-skeleton-text {
  height: 2rem;
}

.canvas-wrapper {
  position: relative;
}

.canvas-wrapper ion-skeleton-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

</style>
