<template>
  <ion-content>
    <ion-list lines="full">
      <ion-item button @click="selectItem()">
        <ion-label>{{ t('LOG_OUT') }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</template>

<script lang="ts">
import {t} from '@/services/Translation';
import {IonContent, IonItem, IonLabel, IonList, popoverController} from '@ionic/vue';
import {defineComponent} from 'vue';
import {useRouter} from 'vue-router';

export default defineComponent({
  name: 'LanguagePopover',
  components: {IonContent, IonItem, IonLabel, IonList},
  methods: {
    selectItem() {
      popoverController.dismiss();
      this.router.push({path: '/logout'});
    },
  },
  setup() {
    const router = useRouter();
    return {t, router};
  },
});
</script>
