<template>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ selectedIndex === 0 ? t('ADD_TRANSACTION') : t('EDIT_TRANSACTION') }}</ion-title>
      <ion-buttons slot="end">
        <ion-button @click="close()">
          <ion-icon :icon="icons.closeOutline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-justify-content-center custom-segment-buttons">
        <ion-col>
          <ion-button class="color-success" @click="changeDirection(0)" :class="directionSelectedIndex === 0 ? 'activated' : ''" expand="full" size="large">
            <ion-icon :icon="icons.arrowDownCircleOutline" slot="start"></ion-icon>
            {{ t('BUY') }}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="color-danger" @click="changeDirection(1)" :class="directionSelectedIndex === 1 ? 'activated' : ''" expand="full" size="large">
            <ion-icon :icon="icons.arrowUpCircleOutline" slot="start"></ion-icon>
            {{ t('SELL') }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ t('ASSET') }}</ion-label>
            <ion-avatar>
              <img :src="Asset.getLogoPathByKey(assetSelectedIndex)" alt="Asset logo">
            </ion-avatar>
            <ion-select @ionChange="changeAsset($event.target.value)" :modelValue="assetSelectedIndex" interface="action-sheet" :cancelText="t('CANCEL')">
              <ion-select-option v-for="(item, i) in assets" :key="i" :value="i">{{ item.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="7">
          <ion-item :class="quantityError ? 'custom-error' : ''">
            <ion-label>{{ t('QUANTITY') }}</ion-label>
            <ion-input class="currency" inputmode="numeric" @ionChange="changeQuantity($event.target.value)" :value="quantity" :modelValue="quantity" :data-after="assetContentAfter" :data-before="assetContentBefore"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="5">
          <ion-item :class="priceError ? 'custom-error' : ''">
            <ion-label>{{ t('PRICE') }}</ion-label>
            <ion-input class="currency" inputmode="numeric" @ionChange="changePrice($event.target.value)" :value="price" :modelValue="price" :data-after="priceContentAfter" :data-before="priceContentBefore"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="7">
          <ion-item>
            <ion-label>{{ t('DATE_AND_TIME') }}</ion-label>
            <ion-datetime displayFormat="D MMM YYYY HH:mm" min="2010" @ionChange="changeDatetime($event.target.value)" :value="datetimeValue" :modelValue="datetimeValue"
                          :monthShortNames="t('MONTH_NAMES')" :cancelText="t('CANCEL')" :doneText="t('DONE')"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="5">
          <ion-item :class="feeError ? 'custom-error' : ''">
            <ion-label>{{ t('FEE') }}</ion-label>
            <ion-input class="currency" inputmode="numeric" @ionChange="changeFee($event.target.value)" :value="fee" :modelValue="fee" :data-after="priceContentAfter" :data-before="priceContentBefore"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ t('NOTE') }}</ion-label>
            <ion-input inputmode="text" @ionChange="changeNote($event.target.value)" :value="note" :modelValue="note"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ directionSelectedIndex === 0 ? t('TOTAL_SPENT') : t('TOTAL_RECEIVED') }}</ion-label>
            <ion-input class="currency" inputmode="numeric" disabled :value="total" :modelValue="total"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer class="ion-padding">
    <ion-button @click="submit()" expand="block" size="large" :disabled="submitDisabled">
      <ion-icon :icon="selectedIndex === 0 ? icons.addOutline : icons.pencilOutline" slot="start"></ion-icon>
      {{ selectedIndex === 0 ? t('ADD_TRANSACTION') : t('EDIT_TRANSACTION') }}
    </ion-button>
  </ion-footer>
</template>

<script lang="ts">
import Asset from '@/services/Asset';
import Base from '@/services/Base';
import Chart from '@/services/Chart';
import Language from '@/services/Language';
import Portfolio from '@/services/Portfolio';
import RestApi from '@/services/RestApi';
import {t} from '@/services/Translation';
import {IonAvatar, IonButton, IonButtons, IonCol, IonContent, IonDatetime, IonFooter, IonGrid, IonHeader, IonIcon, IonInput, IonItem, IonLabel, IonRow, IonSelect, IonSelectOption, IonTitle, IonToolbar, modalController} from '@ionic/vue';
import {addOutline, arrowDownCircleOutline, arrowUpCircleOutline, closeOutline, pencilOutline} from 'ionicons/icons';
import {defineComponent, ref} from 'vue';

export default defineComponent({
  name: 'TransactionModal',
  components: {IonButton, IonButtons, IonContent, IonHeader, IonIcon, IonTitle, IonToolbar, IonCol, IonRow, IonAvatar, IonLabel, IonSelectOption, IonDatetime, IonSelect, IonItem, IonInput, IonGrid, IonFooter},
  props: {
    isMainPage: {type: Boolean, default: true},
  },
  async mounted() {
    const currentPrice = await this.RestApi.getPrice(this.assetSelectedIndex);
    if (this.price === undefined) {
      this.changePrice(currentPrice.toFixed(2));
    }
    this.refreshTotal();
  },
  methods: {
    changeDirection(index: number) {
      this.directionSelectedIndex = index;
      this.refreshTotal();
    },
    changeAsset(index: number) {
      this.assetSelectedIndex = index;
      const assetCode = Asset.getCode(index);
      this.assetContentAfter = this.languageCurrencyAppend ? assetCode : '';
      this.assetContentBefore = !this.languageCurrencyAppend ? assetCode : '';
    },
    changeQuantity(value: string) {
      const number = this.Base.getNumber(value);
      this.quantityError = false;
      if (value.length) {
        if (Number.isNaN(number)) {
          this.quantityError = true;
        }
      }
      this.quantity = number ? number : undefined;
      this.refreshTotal();
    },
    changePrice(value: string) {
      const number = this.Base.getNumber(value);
      this.priceError = false;
      if (value.length) {
        if (Number.isNaN(number)) {
          this.priceError = true;
        }
      }
      this.price = number ? number : undefined;
      this.refreshTotal();
    },
    changeDatetime(value: string) {
      this.datetimeValue = value;
      this.datetime = Base.getDatetime(value);
    },
    changeFee(value: string) {
      const number = this.Base.getNumber(value);
      this.feeError = false;
      if (value.length) {
        if (Number.isNaN(number)) {
          this.feeError = true;
        }
      }
      this.fee = number ? number : undefined;
      this.refreshTotal();
    },
    changeNote(value: string) {
      this.note = value;
    },
    refreshTotal() {
      let total = 0;
      if (this.quantity && this.price) {
        total += this.quantity * this.price;
        this.submitDisabled = false;
      } else {
        this.submitDisabled = true;
      }
      if (this.fee) {
        total += this.directionSelectedIndex === 0 ? 0 + this.fee : 0 - this.fee;
      }
      this.total = total ? Base.printNumber(total, 2, false, '$') : '-';
    },
    async submit() {
      if (this.quantity && this.price) {
        if (this.selectedIndex === 0) {
          await this.RestApi.addTransaction(this.assetSelectedIndex, this.directionSelectedIndex, this.datetime, this.quantity, this.price, this.fee ? this.fee : 0, this.note ? this.note : '');
        } else if (this.selectedTransactionId !== undefined && this.selectedIndex === 1) {
          await this.RestApi.editTransaction(this.selectedTransactionId, this.assetSelectedIndex, this.directionSelectedIndex, this.datetime, this.quantity, this.price, this.fee ? this.fee : 0, this.note ? this.note : '');
        }
        this.close();
        this.Portfolio.deleteAll();
        if (this.isMainPage) {
          await this.Portfolio.refreshAssets();
        } else {
          await this.Portfolio.refreshTransactions();
        }
        await this.Chart.refreshAll();
      }
    },
    close() {
      modalController.dismiss();
    },
  },
  setup() {
    const selectedTransaction = Portfolio.getSelectedTransaction();
    const selectedTransactionId = selectedTransaction ? selectedTransaction.id : undefined;
    const assets = Asset.getAll();
    const selectedIndex = ref<number>(selectedTransaction ? 1 : 0);
    const directionSelectedIndex = ref<number>(selectedTransaction && selectedTransaction.type !== undefined ? selectedTransaction.type : 0);
    const selectedAsset = Asset.getSelected();
    const selectedAssetCode = selectedAsset ? selectedAsset.code : '';
    const assetSelectedIndex = ref<number>(selectedAssetCode ? Asset.getIndexByCode(selectedAssetCode) : 1);
    const quantity = ref<number | undefined>(selectedTransaction ? selectedTransaction.amount : undefined);
    const price = ref<number | undefined>(selectedTransaction ? selectedTransaction.price : undefined);
    const fee = ref<number | undefined>(selectedTransaction ? selectedTransaction.feeCur : undefined);
    const date = selectedTransaction && selectedTransaction.datetime ? (new Date(selectedTransaction.datetime)).toString() : (new Date()).toString();
    const datetimeValue = ref<string>(date);
    const datetime = ref<string>(Base.getDatetime(date));
    const note = ref<string>(selectedTransaction && selectedTransaction.note ? selectedTransaction.note : '');
    const total = ref<string>('-');
    const submitDisabled = ref<boolean>(true);
    const quantityError = ref<boolean>(false);
    const priceError = ref<boolean>(false);
    const feeError = ref<boolean>(false);
    const languageCurrencyAppend = Language.getSelected().currAppend;
    const currencySign = '$';
    const assetContentAfter = ref<string>(languageCurrencyAppend ? selectedAssetCode : '');
    const assetContentBefore = ref<string>(!languageCurrencyAppend ? selectedAssetCode : '');
    const priceContentAfter = ref<string>(languageCurrencyAppend ? currencySign : '');
    const priceContentBefore = ref<string>(!languageCurrencyAppend ? currencySign : '');
    return {
      icons: {addOutline, closeOutline, arrowDownCircleOutline, arrowUpCircleOutline, pencilOutline},
      Asset,
      Base,
      Chart,
      RestApi,
      Portfolio,
      t,
      selectedTransactionId,
      assets,
      selectedIndex,
      directionSelectedIndex,
      assetSelectedIndex,
      quantity,
      price,
      fee,
      datetimeValue,
      datetime,
      note,
      total,
      submitDisabled,
      quantityError,
      priceError,
      feeError,
      languageCurrencyAppend,
      assetContentAfter,
      assetContentBefore,
      priceContentAfter,
      priceContentBefore,
    };
  },
});
</script>

<style scoped>
ion-button {
  margin: 0;
}
ion-row {
  margin: 0;
}
ion-col {
  padding: .25rem;
}
@media (min-width: 768px) {
  ion-col {
    padding: .5rem;
  }
}
ion-item {
  border-radius: .5rem;
}
ion-item ion-input {
  text-align: right;
}
ion-button {
  overflow: hidden;
  border-radius: .5rem;
}
ion-avatar {
  width: 2rem;
  height: 2rem;
}
ion-item.item-interactive-disabled ion-label {
  opacity: 1 !important;
}
ion-input.currency:before, ion-input.currency:after {
  color: var(--ion-color-medium);
  padding-left: .5rem;
}
ion-input.currency:after {
  content: attr(data-after);
}
ion-input.currency:before {
  content: attr(data-before);
}
ion-item.custom-error {
  --color: var(--ion-color-danger);
  --background: rgba(var(--ion-color-danger-rgb), .2);
}
ion-button[disabled] {
  --background: var(--ion-color-medium);
}
</style>
