<template>
  <IonApp>
    <ion-router-outlet></ion-router-outlet>
  </IonApp>
</template>

<script lang="ts">
import Global from '@/services/Global';
import {IonApp, IonRouterOutlet} from '@ionic/vue';
import {defineComponent} from 'vue';

Global.initializeAll();

export default defineComponent({
  name: 'App',
  components: {IonApp, IonRouterOutlet},
});
</script>
